<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Infowindow</title>
</head>
<body>
	<div class="infowindow">
		<table>
			<tbody>
				<tr class="title"><td th:text="${pictureDto.pictureId}"/></tr>
				<tr>
					<td><img class="picture" th:src="|/picture/images/${pictureDto.pictureOriginName}.${pictureDto.extension}|"/></td>
				</tr>
				<tr><td th:text="${pictureDto.pictureDate} ? ${#temporals.format(pictureDto.pictureDate, 'yyyy-MM-dd HH:mm')}"/></tr>
			</tbody>
		</table>
		<div class="btn-group" style="width:190px;">
			<button type="button" class="basic w80" id="marker-move-button">이동</button>
			<button type="button" class="cancel w80" id="marker-delete-button">삭제</button>
		</div>
	</div>
</body>
</html>

