/* RGB 관련 */
/* https://encycolorpedia.kr/008d62 */

p, span {
	margin: 0;
	padding:0;
}

body {
	margin:0;
	font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
}

.btn-more {
	width: 40px;
	height: 40px;
	background: url(/img/more.png) no-repeat;
}

.content {
    width:100%;
    height:800px;
}

.content .left {
    width:20%;
    height:100%;
    float:left;
    box-sizing: border-box;
}

.content .right {
    width:80%;
    height:100%;
    float:right;
    box-sizing: border-box;
}

input {
	width: 220px;
	height: 25px;
    border: 1px solid #787878;
    padding-left: 5px;
}

input:focus {
	outline: none;
}

/* TOC영역 */
#toc {
    height: 800px;
    overflow: scroll;
}

ul.group, ul.group-header {
    list-style: none;
    margin: 10px 0px 10px 5px;
    padding: 0px;
    max-width: 250px;
    width: 100%;
}

.group .toc-object {
	overflow: hidden;
	text-overflow: ellipsis;
}

.group-cnt {
	font-weight: normal;
	color: #787878; 
}

ul.group-header span {
	font-size: 20px;
	font-weight: bold;
    cursor: pointer;
}

.remark {
	padding-top: 5px;
	text-align: center;
}

.group-header .remark span {
	font-size:15px;
	font-weight: normal;
	color: #787878;
	cursor: none;
}


ul.group-header li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
}

ul.group li {
    height: 26px;
    padding: 5px 0px 5px 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 15px;
    cursor: pointer;
    line-height: 30px;
}

ul.group li.selected {
	background-color: #008D62;
	color: #fff;
}

.context-ul {
	list-style: none;
	padding: 0px 5px 0px 5px;
}

.rename-div input {
	width: 160px;
	height: 22px;
}

.rename-div button {
	width:50px;
	height:25px;
	border: 1px solid #008D62;
	background: #008D62;
	color: #fff;
	margin-left: 2px;
}

.off {
    display: none;
}

.context-menu {
	width: 100px;
	position: absolute;
	z-index: 2;
	background-color: #fff;
	border: 1px solid #008D62;
}

.context-menu li {
	padding: 5px 0px 5px 5px;
    margin-bottom: 3px;
    font-size: 15px;
    cursor: pointer;
}

.context-menu li:hover {
	background: #008D62;
	color: #fff;
}

button {
	border: none;
	cursor: pointer;
}
.bg-white {
	background:#fff;
}


/* 맵 검색 영역 */
.map-search, .map-search * {
	margin: 5px 0px 0px 0px;
	padding: 0;
	font-family: 'Malgun Gothic',dotum,'돋움',sans-serif;
	font-size: 12px;
}

#placesList {
	box-shadow: 0px 0px 3px 0px #000;
	overflow-y: auto;
	max-height:500px;
}

#menu_wrap hr {
	display: block; 
	height: 1px;
	border: 0; 
	border-top: 2px solid #5F5F5F;
	margin:3px 0;
}

#menu_wrap .option{
	text-align: center;
}

#menu_wrap .option p {
	margin:10px 0;
}  

#menu_wrap .option button {
	margin-left:5px;
}

#placesList li {
	list-style: none;
}

#placesList .item {
	position:relative;
	border-bottom:1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}

#placesList .item span {
	display: block;
	margin-top:4px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .item .info{
	padding:3px 0 10px 10px;
}

#placesList .info .gray {
	color:#8a8a8a;
}

#placesList .info .jibun {
	padding-left:26px;
	background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#pagination {
	margin:10px auto;
	text-align: center;
}

#pagination a {
	display:inline-block;
	margin-right:10px;
}

#pagination .on {
	font-weight: bold; 
	cursor: default;
	color:#777;
}

.map-search button {
	width: 50px;
	height: 28px;
	border: 1px solid #008D62;
	background: #008D62;
	color: #fff;
	font-weight: bold;
}

.btn-group {
    margin: 5px;
    text-align: center;
    width:100%;
}

.btn-group button{
	margin: 0 3px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	vertical-align: top;
}

.btn-group button.basic {
    border: 1px solid #008D62;
	background: #008D62;
	color: #fff;
}

.btn-group button.cancel {
	background: #fff;
	border: 1px solid #008D62;
	box-sizing: border-box;
	color: #008D62;
}

.btn-group .w60 {
	width: 60px;
	height: 40px;
}

.btn-group .w80 {
    width: 80px;
    height: 30px;
}

.btn-group .w200 {
	width: 200px;
	height: 40px;
}

.infowindow {
    width:200px;
    height:230px;
}

.infowindow table {
    width: 100%;
    text-align: center;
}

.infowindow .title {
    font-size: 20px;
	font-weight: bold;
    text-align: center;
}

.infowindow .picture {
    width: 120px;
    height: 120px;
}

.map-search {
	position: absolute;
	z-index: 2;
	top:10px;
	right:10px;
}

#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    font-size: .8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}

.hidden {
	display: none !important;
}

/* 테스트중 */

.toc-search {
	height: 120px;
	background: #00B07B;
	display:flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	padding-bottom: 15px;
}

.toc-search-group input {
	width:280px;
	height:40px;
	box-shadow: 0 2px 1px 0 rgb(0 0 0 / 15%);
	border-radius: 3px;
}

.search-group {
	padding-bottom: 10px;
}

.toc-header {
	height: 40px;
	background: #00B07B;
	font-size: 12px;
}

.toc-body {
	height: 550px;
	background: #FAFAFA;
}

.toc-body-all .item {
	height: 90px;
	background-color: #fff;
	border-bottom: 1px solid #FAFAFA;
	box-shadow: 0 2px 1px 0 rgb(0 0 0 / 15%);
	margin-bottom: 1px;
	cursor: default;
}

.toc-body-all .item:hover{
	background-color:rgba(0, 176, 123, 0.1); /* #00b07b */
}

.toc-body-all .item div {
	float: left;
}

.item .item-info {
	width:260px;
	padding:12px;
}

.item .item-info .title {
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.item .item-info .address , .date {
	font-size: 12px;
    line-height: 16px;
    color: #666;
    margin-top: 1px;
}

.item .item-button{
	width:65px;
	height: 90px;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}

ul.menu {
	margin:0px;
	padding: 0 28px;
}

ul.menu li {
	list-style-type: none;
	float: left;
	cursor: pointer;
	padding: 7px 19px;
	margin: 1px;
	color: white;
}

ul.menu li.active {
	background: #008D62;
	border-radius: 3px;
	font-weight: bold;
}